@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row justify-content-center gap-4 align-items-center mt-2">
    <h1 class="text-gradient" style="max-width: 500px;">
        Welcome to the web page of Richárd Zsiray!
    </h1>
    <img class="d-block border border-2 border-dark shadow-lg" width="340px" src="images/me.jpg" alt="A picture of me." />
</div>

<div class="d-block mt-5">
    <p class="mx-auto" style="text-align: justify; max-width: 80ch">
        This website is my project for C# Web programming in the 2023/24 fall semester.
        You can find my achievements/career results, a couple documents and you can manage
        what data gets shown on the website (provided, you have the permission to do so!).
    </p>

    <p class="mx-auto mt-2" style="text-align: justify; max-width: 80ch">
        Currently I study Computer Science at ELTE SEK. I live in Szombathely, Hungary.
        I am also doing an internship at TDK Hungary Components Kft. In my free time I
        listen to music and go hiking. I occasionally also do freelance work.
    </p>
</div>